<br>
<% if @job.errors.full_messages.any? %>
  <ul>
    <span class="error">
      <% @job.errors.full_messages.each do |error| %>
      <%= error %>
      <br>
    <% end %>
    </span>
  </ul>
<% end%>

<% if current_user %>
  <%= form_for @job do |j| %>
  <div class="field">
    <%= j.label :name %><br>
    <%= j.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= j.label :origin %>
    <%= j.select(:origin, options_for_select(Locations::LOCATIONS), :prompt => "Select origin") %>
  </div>
  <br>
  <div class="field">
    <%= j.label :destination %>
    <%= j.select(:destination, options_for_select(Locations::LOCATIONS), :prompt => "Select destination")%> 
  </div>
  <br>
  <div class="field">
    <%= j.label "cost" %>
    <%= j.number_field :cost %>
  </div>
  <br>
  <div class="field">
    <%= j.label "containers" %>
    <%= j.number_field :containers %>
  </div>

  <div class="field descriptionfield">
    <%= j.label :description %>
    <br>
    <%= j.text_area :description %>
  </div>

  <div class="actions">
    <%= j.submit %>
  </div>

  <% end %>
<% end %>