<% @jobs.each do |job| %>
	<h2><%=job.name%></h2>
	<p>By user <strong><%= link_to job.user.full_name, job.user %></strong></p>
	<p><strong>From:</strong> <%=job.origin%></p>
	<p><strong>To:</strong> <%=job.destination%></p>
	<p><strong>Description:</strong> <%=job.description%></p>
	<h2>Boats on this job:</h2>
	<ul>
		<% job.boats.each do |boat| %>
			<li>
				<%= link_to boat.name, boat%>
				<%= link_to '(delete)', boat_job_path(job.find_boatjob(boat)), data: {:confirm => 'Are you sure you want to take this boat off this job?'}, :method => :delete %>
			</li>
		<% end %>
	</ul>

	<%= form_for @boat_job do |f| %>

	    <%= f.hidden_field :job_id, value: job.id %>

	    <div class="field">
		    <%= f.select(:boat_id, options_for_select(current_user.all_my_boats(job.id)), :prompt => "Select boat") %>
	    </div>

	    <div class="actions">
	      <%= f.submit "Add boat to this job" %>
	    </div>
	<% end %>
	<hr>
<% end %>