<h1>hi</h1>
<%= form_for @job do |j| %>
	<%= j.label :name %><br>
	<%= j.text_field :name %>

	<%= j.label :origin %>
	<%= j.select(:origin, options_for_select(Locations::LOCATIONS), :prompt => "Select origin") %>

	<%= j.label :destination %>
	<%= j.select(:destination, options_for_select(Locations::LOCATIONS), :prompt => "Select destination")%> <br>

	<%= j.label :cost %><br>
	<%= j.text_field :cost %><br>

	<%= j.label :containers %><br>
	<%= j.text_field :containers %><br>

	<%=j.submit %>
<% end %>