<h1><%=@job.name%></h1>
<p>By user <strong><%= link_to @job.user.full_name, @job.user %></strong></p>
<p><strong>From:</strong> <%=@job.origin%></p>
<p><strong>To:</strong> <%=@job.destination%></p>
<p><strong>Description:</strong> <%=@job.description%></p>
<h2>Boats on this job:</h2>
<ul>
	<% @job.boats.each do |boat| %>
		<li><%= link_to boat.name, boat%></li>
	<% end %>
</ul>