<h1>Available Jobs</h1>
<% @jobs.each do |job| %>
	<h2>Job by <%=job.user.first_name%> <%=job.user.last_name%></h2>
	<p>From <strong><%=job.origin%></strong> to <strong><%=job.destination%></strong> for <strong>$<%=job.cost%></strong> with <strong><%=job.containers%></strong> Containers</p>
	<h3>Boats on this job:</h3>
	<ul>
		<% job.boats.each do |boat| %>
			<li><%=boat.name%></li>
		<% end %>
	</ul>
		<% if current_user %>
			<% if @boat_job.errors.full_messages.any? %>
			  <ul>
			    <% @boat_job.errors.full_messages.each do | error_message| %>
			      <li><%= error_message %></li>
			      <br />
			    <% end %>
			  </ul>
			 <% end %>
			<%= form_for @boat_job do |f| %>

		    <%= f.hidden_field :job_id, value: job.id %>

		    <div class="field">
			    <%= f.select(:boat_id, options_for_select(current_user.all_my_boats(job.id)), :prompt => "Select boat") %>
		    </div>

		    <div class="actions">
		      <%= f.submit %>
		    </div>
  		<% end %>
	<% end %>
	<hr>
<% end %>