<% @boats.each do |boat| %>	
	<p><strong>Owner:</strong> <%=link_to boat.user.full_name, boat.user %></p>
	<p><strong>Location:</strong> <%=boat.location%></p>
	<p><strong>Number of Conatainers:</strong> <%=boat.container_num%></p>
	<%= image_tag boat.avatar.url(:medium) %>
	<% if current_user && boat.user == current_user %>
		<p>
			<%= link_to "(edit)", edit_boat_path(boat) %>
			<%= link_to '(delete)', boat_path(boat.id),
	            	data: {:confirm => 'Are you sure you want to delete your boat? This cannot be undone.'},
	            	:method => :delete
	        %>
	    </p>
	<% end %>
<% end %>